:root{
   /* Colors */
  --clr-White: hsl(0, 100%, 100%);
  --clr-Purple-100: hsl(275, 100%, 97%);
  --clr-Purple-600: hsl(292, 16%, 49%);
  --clr-Purple-950: hsl(292, 42%, 14%);
   /* Typography */
  --ff-primary:'Work Sans',sans-serif;
  --fs-body:16px;
  --fw-light:400;
  --fw-medium:600;
  --fw-semibold:700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;

}
body{
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background-color: var(--clr-Purple-100);
    background-image:url('../images/background-pattern-desktop.svg'); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.card{
    max-width: 34.375rem;
    border-radius: 8px;
    border: none;
    background-color: var(--clr-White);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.875rem;
}
.card__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}
.card__header img{
   width: 30px;
   height: 30px;
}
.card__faq h1{
   font-size: 1.5625rem;
   font-weight: var(--fw-semibold);
   color: var(--clr-Purple-950);
}
.faq__item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.9375rem 0;
    width: 100%;
    border-bottom: 1px solid var(--clr-Purple-100);
}
.faq__item:last-of-type{
    border-bottom: none;
}

.faq__question{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}
.faq__question:hover h2{
    color: var(--clr-Purple-600);
    cursor: pointer;
}
.faq__q1{
    font-size: 1rem;
    font-weight: var(--fw-semibold);
    color: var(--clr-Purple-950);

}
.faq__icon{
    width: 1.25rem;
    height: 1.25rem;
    align-items: end;
    justify-content: end;
}
.faq__description{
    font-size: 0.875rem;
    color: var(--clr-Purple-600);
    line-height: 1.5;
    font-weight:var(--fw-light) ;
    display: none;
}
.faq__q2{
      color: var(--clr-Purple-950);
     font-size: 1rem;
    font-weight: var(--fw-semibold);
}
.faq2__des{
    font-size: 0.875rem;
    color: var(--clr-Purple-600);
    line-height: 1.5;
    font-weight:var(--fw-light) ;
    display: none;
}
.faq__q3{
    color: var(--clr-Purple-950);
    font-size: 1rem;
    font-weight: var(--fw-semibold);
}
.faq3__des{
    font-size: 0.875rem;
    color: var(--clr-Purple-600);
    line-height: 1.5;
    font-weight:var(--fw-light) ;
    display: none;
}
.faq__q4{
    color: var(--clr-Purple-950);
    font-size: 1rem;
    font-weight: var(--fw-semibold);
}
.faq4__des{
    font-size: 0.875rem;
    color: var(--clr-Purple-600);
    line-height: 1.5;
    font-weight:var(--fw-light) ;
    display: none;
}
.show-answer {
    display: block;
}
.attribution { 
    font-size: 11px;
    text-align: center; 
    
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media(max-width:37.5rem){
    body{
        background-image: url('../images/background-pattern-mobile.svg');
        background-size: 100% auto;
    }
    .card{
        max-width: 20.4375rem;
        margin: 0 1.5rem;
        padding: 1.5rem;
    }
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}